.DS_Store
._.DS_Store
dump.rdb

.sass-cache/*

# Ignore vagrant files
.vagrant

# Ignore sublime project files
sublime

shares/www/*
!shares/www/README.md

shares/www_logs/*
!shares/www_logs/README.md

shares/db_dumps/*
!shares/db_dumps/README.md
